<link href='http://fonts.googleapis.com/css?family=Buenard' rel='stylesheet' type='text/css'>
<div class="hns">hns(<span class="brad"></span>)<span style="color: grey">-></span></div>

<pre class="file-manager repo">
  _____.__.__
_/ ____\__|  |   ____     _____ _____    ____ _____     ____   ___________
\   __\|  |  | _/ __ \   /     \\__  \  /    \\__  \   / ___\_/ __ \_  __ \
 |  |  |  |  |_\  ___/  |  Y Y  \/ __ \|   |  \/ __ \_/ /_/  >  ___/|  | \/
 |__|  |__|____/\___  > |__|_|  (____  /___|  (____  /\___  / \___  >__|
                    \/        \/     \/     \/     \//_____/      \/
</pre>

<div class="map-holder">
    <div class="static"></div>
    <div class="vendor"></div>
    <div class="china-flag"></div>
    <div class="sprocket"></div>

    <div class="bike" />
    <img id="boston_map" class="map" src="{{ bostonMapUrl }}" />
    <img id="china_map" class="map" src="{{ chinaMapUrl }}" />
    <pre class="timber repo">
           (      *             (
      *   ))\ ) (  `     (      )\ )
    ` )  /(()/( )\))(  ( )\ (  (()/(
     ( )(_))(_)|(_)()\ )((_))\  /(_))
    (_(_()|_)) (_()((_|(_)_((_)(_))
    |_   _|_ _||  \/  || _ ) __| _ \
      | |  | | | |\/| || _ \ _||   /
      |_| |___||_|  |_||___/___|_|_\
    </pre>
    </div>
</div>

<div style="background: url(http://en.xn--icne-wqa.com/images/icones/1/8/ark-open.png); background-size: 4%; padding: 80px">

    <div class="note">
        <p>Example note, with some details.  signed <br/><br /> &mdash;Lincoln</p>
        <p><img src="http://f.cl.ly/items/0K2V1C3G09083B1z2a3N/chicago-bikes.gif" /></p>
        <p><img src="//i.imgur.com/fXgaQWRh.jpg" /></p>
        <p>
            Thanks for all your help in my getting up to javascript speed, and for taking on the File Manager frontend!
            Good Luck in ChiTown!
            &mdash; Chris K
        </p>
        <p>
            Barely got a chance to meet you or work with you, but you make a heck of a first impression.  Sorry to lose you before we had more of a chance to work together, and good luck!
            &mdash; Ian
        </p>
        <p>
            Brad, you helped me get Content running locally at least 1e6 times. Don't ever change.
            &mdash; Trevor B
        </p>

        <p>
            Thanks for helping push our JS forward, always eagerly helping out your teammates, and being a great-guy to work with. &mdash; TF

            <span style="font-size: 14px; line-height: 1.2; display: block; margin-top: 1em;">
                <img src="http://cl.ly/image/131s0r1W2f2a/bosgood-79534-pp-bosgood-portrait-square-lowres.png" align="right">
                ps: This is the last chance I have to make fun of your quirky HipChat avatar. Is that even you? :P
            </span>
        </p>

        <!--
        ============================================================
            EDIT HERE.  new <p> tags will wrap nicely.
        =============================================================
        -->
    </div>

    <!--
    If you have alot to say, make a new one of these
    -->

    <div class="note">
        <p>Brad, you brought us Jasmine...</p>
        <p><img src="http://pivotal.github.io/jasmine/images/jasmine_logo.png" /></p>
        <p>:)</p>
        <p>And built us a 3d sprocket!!</p>
        <iframe src="http://sprocket3d.herokuapp.com/" style="border: 10px dashed orange; margin: 5%; width: 90%; overflow: hidden; height: 440px;" allowtransparency="yes" scrolling="no"></iframe>
        <p><pre><code><iframe src="http://sprocket3d.herokuapp.com/" style="border: 10px dashed orange; margin: 5%; width: 90%; overflow: hidden; height: 440px;" allowtransparency="yes" scrolling="no"></iframe></code></pre></p>
        <p>We iFramed all of the things with <code>allowtransparency="yes"</code> and <code>scrolling="no"</code> ;)</p>
        <p>Have a great time in Chicago! We'll miss you!</p>
        <p>&mdash; Adam</p>
    </div>
</div>
