<link href='http://fonts.googleapis.com/css?family=Buenard' rel='stylesheet' type='text/css'>
<div class="hns">hns(<span class="brad"></span>)<span style="color: grey">-></span></div>
<div class="map-holder">
    <div class="static"></div>
    <div class="vendor"></div>
    <div class="china-flag"></div>
    <div class="sprocket"></div>

    <div class="bike" />
    <img id="boston_map" class="map" src="{{ bostonMapUrl }}" />
    <img id="china_map" class="map" src="{{ chinaMapUrl }}" />
</div>

<div style="background: url(http://en.xn--icne-wqa.com/images/icones/1/8/ark-open.png); background-size: 4%; padding: 80px">
    <div class="notes">
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
        <p>You are aweome, awesome, dude ok.  -Lincoln</p>
    </div>
</div>
